header{
    text-align: center;
}
.title{
    color: white;
}
   
.container{
    position: relative;
    top :150px;
}
.col-sm{
    margin-top: 25px;
    margin-bottom: 25px;
}

#title2{
    font-size: 40px;
    color: white;
    text-align: center;
}
.card-body:hover{
    
background-color: #070808;
}
.col-md-4{
    max-width: 800px;
}
.card-img-top{
    width: auto;
    height: auto;
}


#search, #btn{
display: none;
}

#category{
    font-size: 40px;
}
hr{
    width: 5px;
}

@media screen and (max-width:700px){
    .col-md-4{
        max-height: 700px;
    }
    .card{
        max-height: 700px;
    }
}