header{
    text-align: center;
}
.container-fluid{
    text-align: center;
}
.title{
    color: white;
}

.container{
    margin-top: 20px;

}
.col-sm{
    margin-top: 25px;
    margin-bottom: 25px;
}

#title2{
    color: white;
    text-align: center;
}
.card-img-top{
    width: 354px;
    height: 220px;
}